/*
*
* Rose Pine
* Author: Mario Shehu
*
*/

@define-color base   #191724;
@define-color black0 #1f1d2e;
@define-color black1 #26233a;
@define-color grey0  #6e6a86;
@define-color grey1  #908caa;
@define-color fg0    #cecacd;
@define-color white0 #e0def4;
@define-color white1 #524f67;
@define-color love   #eb6f92;
@define-color rose   #ebbcba;
@define-color gold   #f6c177;
@define-color pine   #31748f;
@define-color foam   #9ccfd8;
@define-color iris   #c4a7e7;
@define-color purple #907aa9;
