/* Keyframes */
@import "./rose-pine/rose-pine.css";

@keyframes blink-critical {
	to {
		color: @critical;
	}
}

/* Styles */

/* Added colors to match Rosé Pine */
@define-color blush           #e5a3b3;
@define-color moss            #6a9b8d;
@define-color dawn            #ffdfbf;
@define-color twilight        #b7b0e8;

@define-color highlightLow    #21202e;
@define-color highlightMed    #403d52;
@define-color highlightHigh   #524f67;

@define-color warning         @gold;
@define-color critical        @love;
@define-color mode            @base;
@define-color unfocused       @overlay;
@define-color focused         @pine;
@define-color inactive        @iris;
@define-color sound           @pine;
@define-color network         @moss;
@define-color memory          @foam;
@define-color cpu             @iris;
@define-color layout          @gold;
@define-color date            @rose;
@define-color time            @blush;
@define-color idle            @dawn;
@define-color power           @twilight;

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	-gtk-icon-shadow: none;
}

/* The whole bar */
#waybar {
	background: rgba(25, 23, 36, 0.9); /* base color with opacity */
	color: @text;
	font-family: JetBrains Mono, Siji;
	font-size: 10pt;
}

/* Each module */
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,
#disk,
#user,
#mpris {
	padding-left: 8pt;
	padding-right: 8pt;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning {
	color: @warning;
}

/* Modules in their respective order */
#mode {
	color: @text;
	background: @mode;
}

#workspaces button {
	font-size: 14pt;
	padding-left: 2pt;
	padding-right: 2pt;
	color: @text;
	background: @base;
}

#workspaces button.visible {
	color: @text;
	background: @base;
}

#workspaces button.focused {
	color: @base;
	background: @focused;
}

#workspaces button.urgent {
	color: @base;
	background: @warning;
}

#workspaces button:hover {
	color: @base;
	background: @focused;
}

#window {
	margin-right: 35pt;
	margin-left: 35pt;
}

#idle_inhibitor {
	background: @idle;
	color: @base;
}

#pulseaudio {
	background: @sound;
	color: @base;
}

#network {
	background: @network;
	color: @base;
}

#memory {
	background: @memory;
	color: @base;
}

#cpu {
	background: @cpu;
	color: @base;
}

#temperature {
	background: @iris;
	color: @base;
}

#language {
	background: @layout;
	color: @base;
}

#tray {
	background: @date;
	color: @base;
}

#clock.date {
	background: @date;
	color: @base;
}

#clock.time {
	background: @time;
	color: @base;
}

#custom-gpu {
  background: @cpu;
  color: @base;
  padding-left: 8pt;
	padding-right: 8pt;
}

#custom-power {
	font-size: 14pt;
	background: @power;
	color: @base;
	padding-left: 8pt;
	padding-right: 16pt;
}

#custom-arrow1 {
	font-size: 14pt;
	color: @power;
	background: @idle;
}

#custom-arrow2 {
	font-size: 14pt;
	color: @idle;
	background: @time;
}

#custom-arrow3 {
	font-size: 14pt;
	color: @time;
	background: @date;
}

#custom-arrow4 {
	font-size: 14pt;
	color: @date;
	background: @layout;
}

#custom-arrow5 {
	font-size: 14pt;
	color: @layout;
	background: @cpu;
}

#custom-arrow6 {
	font-size: 14pt;
	color: @cpu;
	background: @memory;
}

#custom-arrow7 {
	font-size: 14pt;
	color: @memory;
	background: @network;
}

#custom-arrow8 {
	font-size: 14pt;
	color: @network;
	background: @sound;
}

#custom-arrow9 {
	font-size: 14pt;
	color: @sound;
	background: @base;
}

#custom-arrow10 {
	font-size: 14pt;
	color: @base;
	background: transparent;
}
